*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/butuhpembantu/application/
src/main/java/com/butuhpembantu/fragment/
src/main/res/drawable/
